In [8]:
import pandas as pd
df = pd.read_csv('datasets\\acquisitions.csv')
print(df.head(5))

   id  acquisition_id acquiring_object_id acquired_object_id term_code  \
0   1               1                c:11               c:10       NaN
1   2               7                c:59               c:72      cash
2   3               8                c:24              c:132      cash
3   4               9                c:59              c:155      cash
4   5              10               c:212              c:215      cash

   price_amount price_currency_code acquired_at  \
0    20000000.0                 USD  2007-05-30
1    60000000.0                 USD  2007-07-01
2   280000000.0                 USD  2007-05-01
3   100000000.0                 USD  2007-06-01
4    25000000.0                 USD  2007-07-01

                                          source_url  \
0  http://venturebeat.com/2007/05/30/fox-interact...
1  http://www.techcrunch.com/2007/07/02/deal-is-c...
2  http://www.techcrunch.com/2007/05/30/cbs-acqui...
3  http://techcrunch.com/2007/05/23/100-million-p...
4  http://blog.seattlepi.nwsource.com/venture/arc...

                                  source_description           created_at  \
0  Fox Interactive confirms purchase of Photobuck...  2007-05-31 22:19:54
1    Deal is Confirmed: Google Acquired GrandCentral  2007-07-03 08:14:50
2   CBS Acquires Europeâs Last.fm for $280 million  2007-07-12 04:19:24
3  $100 Million Payday For Feedburner  This Deal...  2007-07-13 09:52:59
4                                       seatlepi.com  2007-07-20 05:29:07

            updated_at
0  2008-05-21 19:23:44
1  2011-05-06 21:51:05
2  2008-05-19 04:48:50
3  2012-06-05 03:22:17
4  2008-02-25 00:23:47

In [10]:
df_degrees = pd.read_csv('datasets\\degrees.csv')
most_common_degrees = df_degrees['subject'].value_counts()
print(most_common_degrees)

subject
Computer Science                                     6001
Economics                                            3564
Electrical Engineering                               2722
Finance                                              2471
Business Administration                              2161
                                                     ...
Chemical/Bio Engineering                                1
Finance and Production & Operations                     1
Intermediate French                                     1
M.S. in chemical engineering                            1
Business/Managerial Economics - Political Science       1
Name: count, Length: 20050, dtype: int64

In [12]:
df_relationships = pd.read_csv('datasets\\relationships.csv')
print(df_relationships.head(5))

   id  relationship_id person_object_id relationship_object_id    start_at  \
0   1                1              p:2                    c:1         NaN
1   2                2              p:3                    c:1         NaN
2   3                3              p:4                    c:3         NaN
3   4                4              p:5                    c:3  2006-03-01
4   6                6              p:7                    c:4  2005-07-01

       end_at  is_past  sequence                                title  \
0         NaN        0         8    Co-Founder/CEO/Board of Directors
1         NaN        1    279242                         VP Marketing
2         NaN        0         4                           Evangelist
3  2009-12-01        1         4  Senior Director Strategic Alliances
4  2010-04-05        1         1              Chief Executive Officer

            created_at           updated_at
0  2007-05-25 07:03:54  2013-06-03 09:58:46
1  2007-05-25 07:04:16  2010-05-21 16:31:34
2  2007-05-25 19:33:03  2013-06-29 13:36:58
3  2007-05-25 19:34:53  2013-06-29 10:25:34
4  2007-05-25 20:05:33  2010-04-05 18:41:41

In [14]:
df_ipos = pd.read_csv('datasets\\ipos.csv')
print(df_ipos.head(40))

    id  ipo_id object_id  valuation_amount valuation_currency_code  \
0    1       1    c:1654      0.000000e+00                     USD
1    2       2    c:1242      0.000000e+00                     USD
2    3       3     c:342      0.000000e+00                     USD
3    4       4      c:59      0.000000e+00                     USD
4    5       5     c:317      1.000000e+11                     USD
5    6       6    c:1438      3.500000e+08                     USD
6    7       7    c:2644      1.600000e+08                     USD
7    8       8    c:2584      0.000000e+00                     USD
8    9       9    c:2720      0.000000e+00                     USD
9   10      11    c:3316      6.000000e+09                     USD
10  11      12    c:2537      0.000000e+00                     USD
11  12      13     c:475      2.350000e+08                     USD
12  13      14     c:283      0.000000e+00                     USD
13  14      15    c:3619      0.000000e+00                     USD
14  15      16    c:3658      2.000000e+09                     USD
15  16      17     c:108      0.000000e+00                     USD
16  17      18    c:3754      0.000000e+00                     JPY
17  18      19    c:3952      0.000000e+00                     USD
18  19      20    c:4018      4.000000e+09                     USD
19  20      21    c:2335      0.000000e+00                     JPY
20  21      22      c:29      0.000000e+00                     USD
21  22      24     c:351      0.000000e+00                     USD
22  23      25     c:424      0.000000e+00                     USD
23  24      26      c:20      0.000000e+00                     USD
24  25      27    c:1972      1.100000e+08                     USD
25  26      28     c:966      0.000000e+00                     USD
26  27      29     c:500      1.000000e+08                     USD
27  28      30    c:4495      0.000000e+00                     NaN
28  29      31    c:3320      0.000000e+00                     CAD
29  30      32    c:1863      0.000000e+00                     USD
30  31      33    c:3827      0.000000e+00                     USD
31  32      34    c:4821      0.000000e+00                     USD
32  33      35    c:5229      0.000000e+00                     USD
33  34      36    c:4175      0.000000e+00                     USD
34  35      37    c:3657      1.100000e+10                     USD
35  36      38      c:24      0.000000e+00                     USD
36  37      39     c:848      0.000000e+00                     USD
37  38      40     c:474      0.000000e+00                     USD
38  39      42    c:5444      0.000000e+00                     NaN
39  40      43    c:5471      0.000000e+00                     USD

    raised_amount raised_currency_code   public_at  stock_symbol  \
0             0.0                  USD  1980-12-19   NASDAQ:AAPL
1             0.0                  NaN  1986-03-13   NASDAQ:MSFT
2             0.0                  NaN  1969-06-09      NYSE:DIS
3             0.0                  NaN  2004-08-25   NASDAQ:GOOG
4             0.0                  NaN  1997-05-01   NASDAQ:AMZN
5      87000000.0                  USD  2006-09-29          SFLY
6             0.0                  NaN  2006-05-01          DIVX
7             0.0                  USD  2004-03-01         OPESF
8             0.0                  NaN  1999-12-02          XOXO
9             0.0                  USD  1988-08-12    NASDAQ:BMC
10            0.0                  USD  1993-03-19   NASDAQ:INTU
11            0.0                  NaN  2010-07-27          KITD
12            0.0                  USD  1986-08-22   NASDAQ:ADBE
13            0.0                  NaN  2000-01-01          CMNN
14            0.0                  NaN  1992-01-01           BKS
15       254111.0                  EUR  2007-06-22          BLNX
16            0.0                  JPY  1987-06-16          FORR
17            0.0                  NaN  2000-01-01           TSG
18            0.0                  NaN  2005-08-05   NASDAQ:BIDU
19            0.0                  JPY  2002-05-23   NASDAQ:NFLX
20            0.0                  USD  1996-04-12   NASDAQ:YHOO
21            0.0                  USD  2009-12-04      NYSE:AOL
22            0.0                  NaN  1999-09-29   NASDAQ:AKAM
23            0.0                  USD  1998-10-02   NASDAQ:EBAY
24            0.0                  USD  2004-07-02      NYSE:CRM
25            0.0                  USD  1986-04-11      NYSE:EMC
26            0.0                  NaN  2006-08-01           JTV
27            0.0                  NaN         NaN          tigr
28            0.0                  USD  1989-06-23   NASDAQ:SYMC
29     35700000.0                  EUR         NaN         XNGAF
30            0.0                  USD         NaN        NYSE:S
31            0.0                  NaN  2007-06-07          INFN
32            0.0                  USD  1998-01-01   NASDAQ:BBRY
33            0.0                  NaN         NaN  NASDAQ:CMCSA
34            0.0                  NaN         NaN         HK700
35            0.0                  NaN         NaN      NYSE:CBS
36            0.0                  USD  1998-02-06   NASDAQ:VRSN
37            0.0                  NaN  2006-10-31          GOFH
38            0.0                  NaN  2000-04-01          SABA
39            0.0                  USD  1988-11-04    NASDAQ:VOD

                                           source_url  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5   http://www.nasdaq.com/markets/ipos/company/shu...
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                 http://ttwxos.com/
17                                                NaN
18                                                NaN
19  http://hbr.org/product/netflix-going-public/an...
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN

         source_description           created_at           updated_at
0                       NaN  2008-02-09 05:17:45  2012-04-12 04:02:59
1                       NaN  2008-02-09 05:25:18  2010-12-11 12:39:46
2                       NaN  2008-02-09 05:40:32  2010-12-23 08:58:16
3                       NaN  2008-02-10 22:51:24  2011-08-01 20:47:08
4                       NaN  2008-02-10 23:28:09  2011-08-01 21:11:22
5                       NaN  2008-02-11 06:03:56  2013-05-20 03:48:47
6                       NaN  2008-02-25 23:52:11  2008-06-15 02:58:53
7                       NaN  2008-02-27 20:22:31  2012-05-08 00:09:32
8                       NaN  2008-02-29 00:31:34  2011-08-22 02:11:44
9                       NaN  2008-03-18 14:07:10  2013-10-21 18:08:28
10                      NaN  2008-03-22 19:10:01  2012-04-13 04:23:15
11                      NaN  2008-03-24 21:13:36  2011-08-28 01:57:06
12                      NaN  2008-03-25 21:34:12  2012-04-13 04:26:43
13                      NaN  2008-03-26 08:04:35  2008-06-15 03:05:38
14                      NaN  2008-03-27 19:10:30  2008-06-15 03:06:09
15                      NaN  2008-03-27 22:02:50  2012-05-02 05:20:28
16                  cjhznoa  2008-03-30 16:44:42  2012-08-01 08:41:51
17                      NaN  2008-04-04 20:08:26  2008-07-31 23:41:50
18                      NaN  2008-04-07 23:30:28  2010-11-18 10:19:58
19  Harvard Business Review  2008-04-12 21:22:08  2012-08-09 08:24:14
20                      NaN  2008-04-12 21:23:29  2013-08-26 04:45:07
21                      NaN  2008-04-12 21:25:47  2012-02-24 22:01:26
22                      NaN  2008-04-13 14:59:34  2010-11-15 13:18:13
23                      NaN  2008-04-13 15:12:37  2012-04-12 04:24:15
24                      NaN  2008-04-14 05:04:07  2012-04-13 03:44:42
25                      NaN  2008-04-14 18:09:40  2012-04-12 04:00:48
26                      NaN  2008-04-16 16:56:08  2008-04-16 16:56:08
27                      NaN  2008-04-18 18:42:47  2008-04-18 18:42:47
28                      NaN  2008-04-22 17:00:21  2012-04-16 02:27:12
29                      NaN  2008-04-23 01:47:24  2013-09-11 11:04:30
30                      NaN  2008-04-29 19:29:21  2012-10-19 04:17:20
31                      NaN  2008-04-29 19:44:04  2008-05-22 18:20:03
32                      NaN  2008-05-12 03:38:39  2013-01-30 16:15:56
33                      NaN  2008-05-14 23:02:31  2010-11-23 12:54:40
34                      NaN  2008-05-14 23:46:19  2008-05-15 19:30:23
35                      NaN  2008-05-15 14:52:58  2010-11-18 12:22:39
36                      NaN  2008-05-15 19:11:50  2012-04-16 04:01:45
37                      NaN  2008-05-15 23:52:52  2008-07-31 23:23:29
38                      NaN  2008-05-16 01:15:05  2008-05-16 01:18:32
39                      NaN  2008-05-16 18:02:21  2012-04-24 04:30:52

In [15]:
df_milestones = pd.read_csv('datasets\\milestones.csv')
print(df_milestones.head(5))

   id object_id milestone_at milestone_code  \
0   1      c:12   2008-06-09          other
1   2    c:3138   2008-06-17          other
2   3      c:59   2008-06-18          other
3   4     c:314   2008-06-18          other
4   5     c:314   2008-01-22          other

                                         description  \
0                       Survives iPhone 3G Stevenote
1  Twhirl announces support for Seesmic video pla...
2  More than 4 Billion videos viewed at Google Si...
3                            Reddit goes Open Source
4        Adds the ability to create your own Reddits

                                          source_url  \
0  http://www.techcrunch.com/2008/06/10/twitter-f...
1  http://www.inquisitr.com/1103/seesmic-now-avai...
2  http://www.comscore.com/press/release.asp?pres...
3  http://blog.reddit.com/2008/06/reddit-goes-ope...
4  http://www.techcrunch.com/2008/01/22/reddit-ad...

                                  source_description           created_at  \
0          Twitter Fails To Fail, Community Rejoices  2008-06-18 08:14:06
1                    Seesmic Now Available In Twhirl  2008-06-18 08:46:28
2  11 Billion Videos Viewed Online in the U.S. in...  2008-06-18 08:50:24
3                            reddit goes open source  2008-06-19 04:14:00
4  Reddit Adds Ability to Create Your Own âRedd...  2008-06-19 04:15:53

            updated_at
0  2008-06-18 08:14:06
1  2008-06-18 08:46:28
2  2008-06-18 08:50:24
3  2008-06-19 04:14:00
4  2008-06-19 04:15:53

In [9]:
df_a = pd.read_csv('datasets\\acquisitions.csv')
print(df_a.head(5))

   id  acquisition_id acquiring_object_id acquired_object_id term_code  \
0   1               1                c:11               c:10       NaN
1   2               7                c:59               c:72      cash
2   3               8                c:24              c:132      cash
3   4               9                c:59              c:155      cash
4   5              10               c:212              c:215      cash

   price_amount price_currency_code acquired_at  \
0    20000000.0                 USD  2007-05-30
1    60000000.0                 USD  2007-07-01
2   280000000.0                 USD  2007-05-01
3   100000000.0                 USD  2007-06-01
4    25000000.0                 USD  2007-07-01

                                          source_url  \
0  http://venturebeat.com/2007/05/30/fox-interact...
1  http://www.techcrunch.com/2007/07/02/deal-is-c...
2  http://www.techcrunch.com/2007/05/30/cbs-acqui...
3  http://techcrunch.com/2007/05/23/100-million-p...
4  http://blog.seattlepi.nwsource.com/venture/arc...

                                  source_description           created_at  \
0  Fox Interactive confirms purchase of Photobuck...  2007-05-31 22:19:54
1    Deal is Confirmed: Google Acquired GrandCentral  2007-07-03 08:14:50
2   CBS Acquires Europeâs Last.fm for $280 million  2007-07-12 04:19:24
3  $100 Million Payday For Feedburner  This Deal...  2007-07-13 09:52:59
4                                       seatlepi.com  2007-07-20 05:29:07

            updated_at
0  2008-05-21 19:23:44
1  2011-05-06 21:51:05
2  2008-05-19 04:48:50
3  2012-06-05 03:22:17
4  2008-02-25 00:23:47

In [6]:
df_funding_rounds = pd.read_csv('datasets\\funding_rounds.csv')
# Convert the date column to datetime
df_funding_rounds['created_at'] = pd.to_datetime(df_funding_rounds['created_at'])

# Get the minimum and maximum date
min_date = df_funding_rounds['created_at'].min()
max_date = df_funding_rounds['created_at'].max()

print(f"Date range: {min_date} to {max_date}")

Date range: 2007-05-27 06:08:18 to 2013-12-12 14:27:53

In [11]:
print(df_a.columns)
print(df_a['acquired_object_id'].head(5))

Index(['id', 'acquisition_id', 'acquiring_object_id', 'acquired_object_id',
       'term_code', 'price_amount', 'price_currency_code', 'acquired_at',
       'source_url', 'source_description', 'created_at', 'updated_at'],
      dtype='object')
0     c:10
1     c:72
2    c:132
3    c:155
4    c:215
Name: acquired_object_id, dtype: object